
	<h3 class="text-center">¿Está seguro que desea eliminar el usuario seleccionado?</h3>
  <div class="button-row text-center">
    <button mat-button (click)="deleteItem()">Eliminar</button>
    <button mat-button color="primary" (click)="closeAddItem()">Cancelar</button>
  </div>
  <p *ngIf="respuesta != null"><b>Respuesta:</b> Eliminado!</p>
