<form class="example-container" [formGroup]="addfrm" (ngSubmit)="saveItem()">
  <mat-form-field>
    <input matInput placeholder="Nombre" formControlName="nombre">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Trabajo" formControlName="trabajo">
  </mat-form-field>
  
  <div class="button-row text-center">
    <button mat-button [disabled]="!addfrm.valid">Guardar</button>
    <button mat-button color="primary" (click)="closeAddItem()">Cancelar</button>
  </div>
  <p *ngIf="respuesta != null"><b>Respuesta:</b> {{respuesta}}</p>
</form>