<form class="example-container" [formGroup]="editfrm" (ngSubmit)="editItem()">
  <mat-form-field>
    <input matInput placeholder="Nombre" formControlName="nombre" value="{{name}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Trabajo" formControlName="trabajo" value="{{job}}">
  </mat-form-field>
  
  <div class="button-row text-center">
    <button mat-button>Actualizar</button>
    <button mat-button color="primary" (click)="closeAddItem()">Cancelar</button>
  </div>
  <p *ngIf="respuesta != null"><b>Respuesta:</b> {{respuesta}}</p>
</form>