
<h1 class="text-center">CRUD con servicios web de https://reqres.in/</h1>
<mat-button-toggle-group class="button-add">
  <mat-button-toggle value="right" (click)="addItem()">
    <mat-icon  aria-label="Nuevo">add</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="text-center"> ID </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.first_name}} </td>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Apellido </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.last_name}} </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Imagen </th>
    <td mat-cell *matCellDef="let element" class="text-center"> <img class="image-avatar" src="{{element.avatar}}"> </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <div class="button-row">
        <button mat-icon-button color="" (click)="editItem(element.id)">
          <mat-icon aria-label="Editar">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteItem(element.id)">
          <mat-icon aria-label="Eliminar">close</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
